@{
    ViewData["Title"] = "Data Packages";
}

<section class="otr-card otr-table-wrap">
    <table class="otr-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Timestamp</th>
                <th>Uploader</th>
                <th>Size</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var package in ViewData["datapackages"] as IEnumerable<DataPackage>)
            {
                <tr>
                    <td>@package.UID</td>
                    <td>@package.Name</td>
                    <td>@package.SubmissionDateTime.ToUniversalTime().ToString("u")</td>
                    <td>@package.SubmissionUser</td>
                    <td>@package.Size</td>
                    <td>
                        <a class="otr-button" href="/Marti/sync/content?hash=@package.Hash">Download</a>
                        <button type="button" class="otr-button" disabled>Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
